body {
  margin: 35px auto;
  width: 640px;
}

section#add {
  margin-left: 53px;
}
header {
  text-align: center;
  margin: 0 0 20px;
  font-size: 32px;
}

header h1 {
  display: inline;
}

header h1 a:link, header h1 a:visited {
  color: #444;
  text-decoration: none;
}

header h2 {
  font-size: 16px;
  font-style: italic;
  color: #999;
}

#main {
  margin: 0 0 20px;
}

#add {
  margin: 0 0 20px;
}

#add input {
  height: 30px;
  width: 510px;
  padding: 10px;
  border: 1px solid #ddd;
}

#add input.submit {
  height: 50px;
  width: 190px;
  margin-top: 20px;
  border: 1px solid #ddd;
  background: white;
}

#edit input {
  height: 30px;
  width: 480px;
  padding: 10px;
  border: 1px solid #ddd;
}

#edit input[type=submit] {
  height: 50px;
  width: 190px;
  margin-top: 20px;
  border: 1px solid #ddd;
  background: white;
}

#edit input[type=checkbox] {
  height: 50px;
  width: 20px;
}

input.delete {
  margin-left: 250px;
  margin-right: 20px;
  margin-top: 4px;
}

p.delete {
  text-align: center;
  font-size: 20px;
}

article {
  border: 1px solid #eee;
  border-top: none;
  padding: 15px 10px;
}

article:first-of-type {
  border: 1px solid #eee;
}

article:nth-child(even) {
  background: #fafafa;
}

article.complete {
  background: #fedae3;
}

article span {
  font-size: 0.8em;
}

p {
  margin: 0 0 5px;
}

.meta {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
}

.links {
  font-size: 1.8em;
  line-height: 0.8em;
  float: right;
  margin: -10px 0 0;
}

.links a {
  display: block;
  text-decoration: none;
}
.map {
  height: 360px;
}
h3.address {
  margin-bottom: 20px;
  margin-left: 130px;
}

h3.delete {
  margin-bottom: 20px;
  margin-left: 197px;
}

img {
  margin-left: 60px;
}

img.delete {
  margin-left: 94px;
}
span.edit {
  margin-left: 80px;
}

span.delete {
  margin-left: 336px;
}